.chat-wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto 20px;
  height: 60vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
}

.chat-wrapper p {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  color: #ff6600;
  font-weight: 600;
  font-size: 1.6rem;
  scroll-snap-align: end;
}

.chat-wrapper p.you {
  color: #097631;
}
.chat-wrapper span {
  text-transform: capitalize;
}

.chat-input-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
