@import "../../styles//variables.scss";

.chat-wrapper {
  .messages-wrapper {
    padding: 100px 0px 150px 0px;
  }
  .header-wrapper {
    position: fixed;
    height: 100px;
    z-index: 1000;
    height: 100px;
    background-color: white;
    padding: 0rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button {
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .num-users {
    font-size: 1.2rem;
    cursor: p0inter;
  }

  .menu-icon {
    cursor: pointer;
  }

  .input-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: blue;
    button {
      width: 50px;
      background-color: $primary;
      color: white;
      cursor: pointer;
    }
    display: flex;
    form {
      flex: 1;
    }
    .input-group {
      background-color: blue;
      width: 100%;
      display: flex;
      input {
        flex: 1;
        border: none;
        text-indent: 10px;
        font-size: 1.2rem;
      }
      button {
        border: none;
        cursor: pointer;
        padding: 0.5rem 2rem;
        background-color: $primary;
        color: white;
        font-size: 1.5rem;
      }
    }
  }
}
